ul li a{
  text-decoration: none;
  color: white;
}

* body {
  background: #240932;
  overflow-x: hidden;
  margin: 0px;
}

:root {
  --grid-size: 5px;
}

.hidden {
  display: none;
}

.main__container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  height: 50%;
  z-index: 100;
  opacity: 0.75;
  align-items: center;
}

.loading-display__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#loading-bar__container {
  width: 95%;
  background-color: grey;
  margin: 0 auto;
}

#loading-bar__bar {
  width: 0%;
  height: 30px;
  background-color: #128efe;
}

.line-drawing-demo {
  position: relative;
  text-align: center;
  z-index: 2;
  top: 15%;
}

.rotation-fix {
  transform: rotateY(180deg);
}

svg g {
  transform: translate(-30px);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #09111e;
  box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.65);
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 500px;
}

.cube__face--back {
  transform: rotateY(180deg);
}

.cube__face--bottom {
  transform: rotateX(-90deg);
}

.cube__face.cube__face--back {
  background: url("../images/bg1.jpg") no-repeat bottom;
  background-size: cover;
  transform: rotateY(180deg) translateY(-50vh) translateZ(50vh);
  left: -25%;
  height: 150%;
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50vh);
  left: -25%;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 150%;
  height: 100%;
}

.line {
  position: absolute;
  background: #128efe;
  -webkit-backface-visibility: hidden;
}

.vertical .line {
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--grid-size);
  background: linear-gradient( top, rgba(255, 255, 255, 0), rgba(87, 193, 232, 0.35));
}

.vertical .line:nth-child(1) {
  left: 10%;
}

.vertical .line:nth-child(2) {
  left: 20%;
}

.vertical .line:nth-child(3) {
  left: 30%;
}

.vertical .line:nth-child(4) {
  left: 40%;
}

.vertical .line:nth-child(5) {
  left: 50%;
}

.vertical .line:nth-child(6) {
  left: 60%;
}

.vertical .line:nth-child(7) {
  left: 70%;
}

.vertical .line:nth-child(8) {
  left: 80%;
}

.vertical .line:nth-child(9) {
  left: 90%;
}

.vertical .line:nth-child(10) {
  left: 100%;
  margin-left: -1px;
}

@media only screen and (max-width: 600px) {
  .vertical .line:nth-child(1) {
    left: 10%;
  }
  .vertical .line:nth-child(2) {
    left: 20%;
  }
  .vertical .line:nth-child(3) {
    left: 30%;
  }
  .vertical .line:nth-child(4) {
    left: 40%;
  }
  .vertical .line:nth-child(5) {
    left: 50%;
  }
  .vertical .line:nth-child(6) {
    left: 60%;
  }
  .vertical .line:nth-child(7) {
    left: 70%;
  }
  .vertical .line:nth-child(8) {
    left: 80%;
  }
  .vertical .line:nth-child(9) {
    left: 90%;
  }
  .vertical .line:nth-child(10) {
    left: 100%;
    margin-left: -1px;
  }
}

.horizontal .line {
  top: 0;
  left: 0;
  right: 0;
  height: var(--grid-size);
  z-index: 2;
}

.horizontal-mobile .line {
  top: 0;
  left: 0;
  right: 0;
  height: var(--grid-size);
  z-index: 2;
}

.horizontal .line:nth-child(1) {
  top: 10%;
  opacity: 0.2;
}

.horizontal .line:nth-child(2) {
  top: 20%;
  opacity: 0.3;
}

.horizontal .line:nth-child(3) {
  top: 30%;
  opacity: 0.4;
}

.horizontal .line:nth-child(4) {
  top: 40%;
  opacity: 0.5;
}

.horizontal .line:nth-child(5) {
  top: 50%;
  opacity: 0.6;
}

.horizontal .line:nth-child(6) {
  top: 60%;
  opacity: 0.7;
}

.horizontal .line:nth-child(7) {
  top: 70%;
  opacity: 0.8;
}

.horizontal .line:nth-child(8) {
  top: 80%;
  opacity: 0.9;
}

.horizontal .line:nth-child(9) {
  top: 90%;
  opacity: 0.95;
}

.horizontal .line:nth-child(10) {
  top: 100%;
  margin-top: -1px;
  opacity: 1;
}

.horizontal .line:nth-child(11) {
  opacity: 0.05;
}

@media only screen and (max-width: 600px) {
  .horizontal .line:nth-child(1) {
    top: 5%;
    opacity: 0.05;
  }
  .horizontal .line:nth-child(2) {
    top: 10%;
    opacity: 0.1;
  }
  .horizontal .line:nth-child(3) {
    top: 15%;
    opacity: 0.15;
  }
  .horizontal .line:nth-child(4) {
    top: 20%;
    opacity: 0.2;
  }
  .horizontal .line:nth-child(5) {
    top: 25%;
    opacity: 0.25;
  }
  .horizontal .line:nth-child(6) {
    top: 30%;
    opacity: 0.3;
  }
  .horizontal .line:nth-child(7) {
    top: 35%;
    opacity: 0.35;
  }
  .horizontal .line:nth-child(8) {
    top: 40%;
    opacity: 0.4;
  }
  .horizontal .line:nth-child(9) {
    top: 45%;
    opacity: 0.45;
  }
  .horizontal .line:nth-child(10) {
    top: 50%;
    margin-top: -1px;
    opacity: 0.5;
  }
  .horizontal .line:nth-child(11) {
    opacity: 0.05;
  }
  .horizontal-mobile .line:nth-child(1) {
    top: 55%;
    opacity: 0.2;
  }
  .horizontal-mobile .line:nth-child(2) {
    top: 60%;
    opacity: 0.3;
  }
  .horizontal-mobile .line:nth-child(3) {
    top: 65%;
    opacity: 0.4;
  }
  .horizontal-mobile .line:nth-child(4) {
    top: 70%;
    opacity: 0.5;
  }
  .horizontal-mobile .line:nth-child(5) {
    top: 75%;
    opacity: 0.6;
  }
  .horizontal-mobile .line:nth-child(6) {
    top: 80%;
    opacity: 0.7;
  }
  .horizontal-mobile .line:nth-child(7) {
    top: 85%;
    opacity: 0.8;
  }
  .horizontal-mobile .line:nth-child(8) {
    top: 90%;
    opacity: 0.9;
  }
  .horizontal-mobile .line:nth-child(9) {
    top: 95%;
    opacity: 0.95;
  }
  .horizontal-mobile .line:nth-child(10) {
    top: 100%;
    margin-top: -1px;
    opacity: 1;
  }
}

.dot {
  position: absolute;
  background: #57c1e8;
  width: var(--grid-size);
  height: var(--grid-size);
  top: 100%;
  border-radius: var(--grid-size);
  box-shadow: 0 0 3px #fff;
  -webkit-backface-visibility: hidden;
}

.dot:nth-child(1) {
  left: 10%;
  animation: moveDot 5s infinite;
}

.dot:nth-child(2) {
  left: 20%;
  animation: moveDot 20s infinite;
}

.dot:nth-child(3) {
  left: 30%;
  animation: moveDot 15s infinite;
}

.dot:nth-child(4) {
  left: 50%;
  animation: moveDot 30s infinite;
}

.dot:nth-child(5) {
  left: 60%;
  animation: moveDot 12s infinite;
}

.dot:nth-child(6) {
  left: 80%;
  animation: moveDot 6s infinite;
}

.dot:nth-child(7) {
  left: 90%;
  animation: moveDot 8s infinite;
}

@keyframes moveDot {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}

/* 
$orange: #FF9952;
$sunsetOrange: #FF7684;
$pink: #FF6BCA;
$bloodRed: #FC3D7A;
$deepRed: #BC2854;
$darkRed: #7B0632;
$deepPurple: #1D1153; */